@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.bluish-green {
    background-color: #002e41;
}

.bluish-gray {
    background-color: #1b4455;
}

.font-red-hat {
    font-family: 'Red Hat Display', sans-serif;
}

.left-9999 {
    left: -9999px;
}

th,
td {
    border: 2px solid red;
}
